#llave{background-image:url('llave.png');background-size:200px 200px;background-repeat:no-repeat;background-position:center center;cursor:pointer;}

#puerta{cursor: not-allowed;background-image:url('puerta.png');background-size:200px 200px;background-repeat:no-repeat;background-position:center center;}

#help{z-index:99;}

.puerta_abierta{background-image:url('puerta_abierta.png') !important;cursor:pointer !important;}
